.container-project {
  margin-top: 8rem;
}

.project-header {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.project-box {
  border-radius: 10px;
  max-width: 60%;
  padding: 1.5rem;
  background-color: var(--gray-color);
}

.text-box {
  margin-top: 0.3rem;
}

.project-line {
  position: relative;
  left: 10px;
  bottom: -40px;
}

/* Details */

.project-details {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
}

.details-left {
  margin: 0 2rem;
}

.text-figma {
  cursor: pointer;
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.icon-figma {
  width: 10px;
  margin-right: 10px;
  margin-left: 5px;
}

.details-stack {
   margin: 3rem 1rem;
}

@media (max-width: 425px) {
  .project-details {
    justify-content: center;
  }
  .project-header {
    justify-content: center;
  }

  .project-box {
    max-width: 100%;
  }

  .details-left {
    margin: 0;
  }
}

.overlay {
  position: absolute;
  margin: 0.3rem;
  margin-bottom: 0;
  margin-top: 0.3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--white-color);
}

.proj-container {
  position: relative;
}

.proj-container:hover .overlay {
  opacity: 0.85;
}


.overlay-text-title {
  color: rgb(5, 61, 34);
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text-description {
  font-size: 1rem;
  font-weight: normal;
}