.overlay {
  position: absolute;
  margin: 0.3rem;
  margin-bottom: 0;
  margin-top: 0.3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--white);
}

.proj-container {
  position: relative;
}

.proj-container:hover .overlay {
  opacity: 0.85;
}

.overlay-text-title {
  color: rgb(5, 61, 34);
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text-description {
  font-size: 1rem;
  font-weight: normal;
}