.header-about-title {
    font-size: 2rem;
    font-weight: bold;
    background: var(--black);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

.header-about-description {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    background: var(--black);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  a:hover .about-link {
    background: var(--black);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: 1.3s;
  }

.typing-text {
    position: relative;
    display: inline-block;
    background: var(--black);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.typing-text::after {
    content: '|';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: blink 1.2s infinite;
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
    opacity: 1;
    text-shadow: 0 0 4px var(--black);
    z-index: 10;
}

@keyframes blink {
    0%, 45% { opacity: 1; }
    50%, 95% { opacity: 0; }
    100% { opacity: 1; }
}

.mode-icon-about {
  color: var(--black);
  font-size: 20px;
}