.header-about-title {
    font-size: 2rem;
    font-weight: bold;
    background: var(--cream-color);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

.header-about-description {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    background: var(--light-green-color);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  a:hover .about-link {
    background: var(--light-green-color);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: 1.3s;
  }

  .white-text {
    font-weight: 500;
    color: var(--white-color);
  }