.project-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--highlight);
}

.project-description {
    font-size: 1.2rem;
    font-weight: normal;
}

.project-details {
    font-size: 1rem;
    font-weight: normal;
}

