:root {
  --dark-bg-color: #303337;
  --black-color: #161b22;
  --white-color: #ffffff;
  --light-green-color: #8b949e;
  --dark-green-color: #4A6D4D;
  --cream-color: #e6e4c6;
  --green-color: #899e8e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light-green-color);
}

.dark-mode {
  transition: 150ms;
  background-color: var(--dark-bg-color);
}

.white-mode {
  transition: 150ms;
  background-color: var(--white-color);
}

.white-mode .header-title {
  background: var(--black-color);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.white-mode .header-description {
  background: var(--dark-bg-color);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.white-mode .header-about-title {
  background: var(--dark-green-color);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.white-mode .header-about-description {
  background: var(--dark-bg-color);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.white-mode .about-links-container {
  font-size: 1rem;
  font-weight: bold;
  background: var(--dark-green-color);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.white-mode a {
  color: var(--dark-green-color);
}

.white-mode .link-decoration::after {
  background: var(--light-green-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-out;
}

.white-mode .container-icon {
  background-color: var(--white-color);
}


.white-mode .mode-icon {
  color: var(--dark-green-color);
}


.white-mode .mode-icon-about {
  color: var(--dark-green-color);
}



.white-text {
  font-weight: 500;
  color: var(--white-color);
}

.container {
  position: relative;
  width: auto;
  max-width: 40rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .container {
    max-width: 100%;
    padding: 5px;
  }
}

.container-mode {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem 0;
  justify-content: left;
  align-items: normal;
}

.mode-left ul {
  display: flex;
  list-style: none;
}

.mode-left ul li {  
  margin: 1rem 1.6rem;
}

.left-source {
  display: flex;
  align-items: center;
}

.source-icon {
  padding-right: 5px;
}

.container-icon {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.5rem 2rem;
  border: none;
  background: var(--black-color);
  border-radius: 10px;
}

.mode-icon {
  color: var(--white-color);
  font-size: 20px;
}

.mode-icon-about {
  color: var(--cream-color);
  font-size: 20px;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--white-color);
  text-decoration: none;
}

.link-decoration {
  position: relative;
}

.link-decoration::before,
.link-decoration::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}


.link-decoration::after {
  background: var(--white-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-out;
}

.icon-change {
  display: grid;
  width: 15px;
  margin-left: 10px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  overflow-x: hidden;
}

.icon-change img {
  width: 15px;
  transform: translateX(-35px);
  transition: transform 300ms ease-out;
}

a:hover .link-decoration::after {
  transform: scaleX(1);
  transform-origin: left;
}

a:hover img {
  transform: translateX(0);
}

.link-decoration-active {
  color: blue;
}